.backdrop {
    display: inline-block;
    background: rgba(42, 42, 42, 0.7);
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #fff;
    line-height: 150%;
    font-size: small;
}

#heightSliderLabel, #heightValue {
    vertical-align: top;
}

.backdrop a:link, .backdrop a:visited, .backdrop a:hover {
    color: #fff
}

.loadingIndicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background: url(Source/Images/ajax-loader.gif) center no-repeat;
}

.cover {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu {
    position: absolute;
    left: 10px;
    top: 10px;
}

.nowrap {
    white-space: nowrap;
}

html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: #000;
}

button.cesium-infoBox-camera {
    display: none;
}

#3DTiles {
    padding-top: 10px;
}

#ui {
    position: absolute;
    top: 0;
    right: 0;

    /*background: white;*/

    max-width: 40%;
    margin-right: 10px;
    margin-top: 45px;
}

.Block-Background {
    background: rgba(0, 0, 0, 0.25);
    /*filter: blur(5px);*/

    padding: 10px;
}

.AttributesTable > ul {
    padding: 0;
}

.AttributesTable ul {
    list-style: none;
    margin: 0;
}

.AttributesTableItem {
    /*background: white;*/
    /*color: black;*/
    /*padding: 8px 16px;*/
    margin-bottom: 12px;
    font-size: 14px;

    user-select: none;
    cursor: pointer;
}

.AttributesTableItem--folded {
    border: 3px solid white;
    color: white;
}

.AttributesTableItem--unfolded {
    background: white;
    color: black;
}

.AttributesTableItem-Name {
    margin: 8px 16px;
    display: inline-block;
    /*font-weight: 700;*/
}

.AttributesTableItem--unfolded .AttributesTableItem-Name {
    margin: 11px 16px;
    /*display: inline-block;*/
    font-weight: 700;
}

/*.AttributesTableItem:hover {*/
/*color: red;*/
/*}*/

.AttributesBlock {
    padding: 0 0 16px;
}

.AttributeRow {
    margin: 0 16px 4px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.AttributeRow-Name {
    text-align: left;
}

.AttributeRow-Value {
    text-align: right;
    flex: 1;
}
